* {
  user-select: none;
}

.sudoku-container {
  height: 100vh;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sudoku-components-container {
  width: 90%;
  height: 80%;
  display: flex;
  flex-direction: column;
  margin-left: 100px;
}

.sudoku-controls-container {
  width: 100%;
  height: 95%;
  display: flex;
  flex-direction: row;
}

.difficulty-container {
  height: 5%;
  width: 82%;
  display: flex;
  flex: row;
  gap: 10px;
  border-bottom: 0.1px solid rgba(0, 0, 0, 0.2);
}

.difficulty-container h3 {
  font-weight: bolder;
  color: rgb(130, 142, 156);
}

.sudoku-board-container {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.sudoku-buttons-container {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

.difficulty-button {
  background-color: white;
  border: none;
  border-radius: 5px;
  width: 100px;
  font-size: larger;
  font-weight: bold;
  color: rgb(130, 142, 156);
}

.difficulty-button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.sudoku-grid {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  gap: 2px;
  width: 90%;
  height: 90%;
  margin: auto;
  border: 2px solid black;
  background: #f0f0f0;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.sudoku-row {
  display: contents;
}

.sudoku-cell.highlight,
.sudoku-cell[readonly].highlight {
  background-color: rgb(226, 235, 243);
}

.sudoku-grid {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  gap: 0;
  width: 90%;
  height: 90%;
  margin: auto;
  border: 1px solid black;
  background: #f0f0f0;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.sudoku-cell {
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 18px;
  border: 1px solid #ccc;
  background-color: white;
  box-sizing: border-box;
  font-size: xx-large;
}

.sudoku-cell:focus {
  background-color: rgb(187, 222, 251) !important;
}

.sudoku-cell.value-highlight {
  background-color: rgb(187, 222, 251) !important;
}

.sudoku-cell:nth-child(3n + 1) {
  border-left: 1px solid black;
}

.sudoku-row:nth-child(3n + 1) .sudoku-cell {
  border-top: 1px solid black;
}

.sudoku-grid > .sudoku-row:nth-child(9) .sudoku-cell {
  border-bottom: 1px solid black;
}

.sudoku-row > .sudoku-cell:nth-child(9) {
  border-right: 1px solid black;
}
.sudoku-cell.user-added {
  color: rgb(50, 90, 175);
}

.sudoku-actions-buttons {
  height: 10%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 30px;
}

.sudoku-numbers-buttons {
  height: 60%;
  width: 100%;
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.actions-button {
  border: none;
  background-color: rgb(226, 235, 243);
  font-size: large;
  color: rgb(50, 90, 175);
  border-radius: 10px;
  width: 100px;
  height: 35px;
  overflow: hidden;
}

.new-game-button {
  border: none;
  background-color: rgb(226, 235, 243);
  font-size: large;
  color: rgb(50, 90, 175);
  border-radius: 10px;
  width: 120px;
  height: 35px;
  overflow: hidden;
}

.numpad-button {
  width: 95%;
  height: 95%;
  border: none;
  border-radius: 10px;
  background-color: rgb(226, 235, 243);
  color: rgb(50, 90, 175);
  font-size: xx-large;
}

.actions-button:hover,
.numpad-button:hover {
  background-color: rgb(220, 227, 237);
}

.sudoku-cell.incorrect {
  color: red;
}

.sudoku-cell.hint {
  color: rgb(50, 90, 175);
}

.sudoku-buttons-container {
  position: relative;
}

.sudoku-solved-message {
  margin-top: 30px;
  position: absolute;
  top: 0;
  width: 100%;
  text-align: center;
  color: rgb(130, 142, 156);
  z-index: 1;
  font-size: xx-large;
}

.sudoku-numbers-buttons,
.sudoku-actions-buttons {
  position: relative;
  z-index: 0;
}
