.side-bar {
  width: 15%;
  height: 100%;
  background-color: rgb(41, 47, 54);
  padding: 1%;
}

.side-bar h1 {
  font-size: x-large;
  border-bottom: 0.1px solid rgba(255, 255, 255, 0.2);
  margin-top: 20px;
  color: white;
}

.side-bar a {
  text-decoration: none;
}

#sideBarButton {
  width: 100%;
  text-align: left;
  color: white;
  margin-top: 5px;
  outline: none;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.side-bar button:hover {
  background-color: rgb(221, 174, 34);
}
