* {
  user-select: none;
}

.sudoku-cell-container {
  position: relative;
}

.cage-sum {
  position: absolute;
  top: 3px;
  left: 3px;
  font-size: 0.8rem;
  color: rgb(50, 90, 175);
  font-weight: bold;
}
